<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- MyBatis 쿼리 로그 -->
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>

    <!-- 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>