<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group.board.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.group.board.domain.user.UserDto">
        insert into users (
            user_id
            , user_pw
            , user_nm
            , user_email
        ) values (
            #{userId}
            , #{userPw}
            , #{userNm}
            , #{userEmail}
        )
    </insert>

    <select id="getUserId" parameterType="String" resultType="String">
        select user_id from users where user_id = #{userId}
    </select>

</mapper>